/* Last rule */
/* p{ */
    /* color: red; */
}
/* p{ */
    /* color: green; */
}
/* p{ */
    /* color: blue; */
}
/* Specipicity */

*{
    color: red;
}
p{
    color: green;
}
p#intro{
    color: blue;
}
p#sec{
    color: yellow !important;
}
body{
    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #656
    padding: 10px;
    .page{
        border: 1px solid #665544;
        background-color: #efefef;
        padding: inherit;
    }
}